=main-bg
  background-color: $white-darken
  background-image: radial-gradient($white, $white-darken)
  background-position: center center
  background-repeat: no-repeat

=nav-link
  display: inline-block
  background-image: linear-gradient(to top,rgba($black,0.2) 0,rgba($black,0.2) 0),linear-gradient(to top,$black 0,$black 0)
  background-position: left bottom 2px,left bottom 2px
  background-repeat: no-repeat
  background-size: 100% 1px,0 1px
  transition: none 300ms ease-in-out
  transition-property: background-size,color
  +hover
    background-size: 100% 1px,100% 1px
    color: $black
  &.is-active
    background-size: 100% 1px,100% 1px
    color: $black

body
  background: $white
  line-height: 1.4
  font-size: $fz
  min-width: 320px
  font-family: 'montserrat', Arial, sans-serif
  font-weight: 300
  color: $c-text
  +no-scroll
  +sm
    font-size: $fz-sm

.icon
  display: inline-block
  fill: currentColor
  font-size: inherit

.lazy
  &.is-loaded:not(.no-animation)
    animation: fadeIn 1s

.container
  max-width: 1480px
  padding-left: 50px
  padding-right: 50px
  margin-left: auto
  margin-right: auto
  +xl
    padding-left: 30px
    padding-right: 30px
  +lg
    padding-left: 15px
    padding-right: 15px
  &--full
    max-width: none
    margin-left: 0
    margin-right: 0

.out
  position: relative
  z-index: 1  
  +main-bg
  +before
    width: 100%
    position: absolute
    top: 0
    left: 0
    height: $header-height + $header-margin + 20px
    +main-bg
    z-index: 0
  +sm
    padding-top: $header-height-sm
  +xs
    padding-top: $header-height-xs
  .is-firefox &
    +tr(.1s transform)
  &.is-loaded
    background-color: transparent
    background-image: none
  &.is-above
    z-index: 25

.main
  display: block
  +main-bg
  position: relative
  z-index: 1
  opacity: 0
  // padding-top: 20px



.logo
  font-size: 0
  display: inline-block

.logo-text
  font-family: serif
  span
    font-family: 'montserrat', Arial, sans-serif
    color: $accent

.word
  +css-lock(60, 415, 320, 1399, font-size)
  line-height: .9
  position: absolute
  left: -50%
  top: 0
  opacity: .1
  z-index: 0

.shadow-rect
  box-shadow: 0px 7px 19px 0px rgba(0, 0, 0, 0.17), inset 0px 0px 7.28px 0.72px rgba(0, 0, 0, 0.28)
  height: 16px
  width: 100%
  background-color: $white

.bg-lines
  position: absolute
  z-index: 0
  width: 100%
  height: 100%
  left: 50%
  transform: translate(-50%, 0)
  top: 0
  max-width: 1450px
  overflow: hidden

.bg-line
  position: absolute
  top: 0
  bottom: 0
  border-right: 1px solid  $gray-lighten
  animation-name: moveDown
  animation-duration: 5s
  animation-fill-mode: forwards
  transform: translate(0, -100%)
  &:nth-child(1)
    left: $line-left-1
  &:nth-child(2)
    left: $line-left-2
    animation-delay: 0.2s
  &:nth-child(3)
    left: $line-left-3
    animation-delay: 0.4s
  &:nth-child(4)
    left: $line-left-4
    animation-delay: 0.6s

.link
  text-transform: uppercase
  font-weight: 500
  color: $black
  position: relative
  +tr(color .3s)
  +hover
    color: $accent
  +after
    width: 130px
    border-top: 1px solid  $gray-lighten
    display: inline-block
    vertical-align: middle
    position: relative
    top: -.1em
    margin-left: 15px
    +sm
      width: 100px
    +xs
      width: 80px

.banner
  +cover
  color: $white
  padding: 70px 40px 60px
  height: 100%
  +flex(space-between, normal, column)
  +xl
    padding: 60px 40px
  +lg
    padding: 50px 30px
  +md
    padding: 30px
  +sm
    padding: 20px
  &__phones
    margin-bottom: 15px
  &__phone
    @extend .title
    @extend .title--h3
    @extend .title--white
    @extend .title--medium
    margin-bottom: 5px
  &__mail
    font-weight: 500
  &__title
    max-width: 60%
    margin-bottom: 65%
    +md
      max-width: none
    +sm
      margin-bottom: 30%

.stext
  max-height: 295px
  overflow: auto
  h1, h2
    @extend .title
    @extend .title--h3
    @extend .title--ttu
    @extend .title--medium
    margin-bottom: 50px
    +xl
      margin-bottom: 40px
    +lg
      margin-bottom: 30px
    +md
      margin-bottom: 15px
  h2, h3, p, ol, ul
    margin-bottom: 25px
    +md
      margin-bottom: 15px
  ul
    list-style-type: disc
    margin-left: 1.1em
  ol
    list-style-type: decimal
    margin-left: 1.1em
  a
    text-decoration: underline
    color: blue

.side-line
  border-left: 1px solid  $gray-lighten
  top: -500px
  position: absolute
  bottom: 0
  left: 100px
  z-index: 2
  +r(1600)
    display: none
  // +sm
  //   left: 80px
  // +xs
  //   left: 60px

.list
  li
    margin-bottom: 10px
    &::before
      content: "\2022"
      display: inline-block
      margin-right: 5px


    