---
title: material-one
page: material-one
sideLine: true
popupBtn: true
hero: {
  title: 'Металлический профиль',
  titleFixed: 'Металический профиль',
  img: 'hero-material-wood.png',
  links: { prev: 'Пластиковый багет', next: 'Стекло' },
  breadcrumbs: {
    list: [
      { link: 'главная' },
      { link: '/' },
      { link: 'материалы ' },
      { link: '/' },
      { link: 'Металический профиль', modLink: 'is-active' }
    ]
  }
}
sectionGallery: {
  topSimple: 'наша галерея',
  filter: true,
  noSlider: true,
  title: 'Услуги багетной мастерской',
  breadcrumbs: {
    list: [
      { link: 'главная' },
      { link: '/' },
      { link: 'материалы ' },
      { link: '/' },
      { link: 'Металический профиль', modLink: 'is-active' }
    ]
  },
  more: { title: 'раскрыть все фото' },
  gallery: {
    checkboxes: true,
    list: [
      { img: '07.png', imgPopup: 'materials/popup-material-01.jpg' },
      { img: '07.png', imgPopup: 'materials/popup-material-01.jpg' },
      { img: '07.png', imgPopup: 'materials/popup-material-01.jpg' },
      { img: '07.png', imgPopup: 'materials/popup-material-01.jpg' },
      { img: '07.png', imgPopup: 'materials/popup-material-01.jpg' },
      { img: '07.png', imgPopup: 'materials/popup-material-01.jpg' }
    ]
  }
}
popup: {
  calculator: true,
  material: true
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {# {% include "partials/_hero.html" %} #}
  
  {% include "partials/sections/_s-gallery.html" %}
  {% include "partials/sections/_s-seo.html" %}
{% endblock %}

