---
title: service-one
page: service-one
sideLine: true
hero: {
  title: 'Оформление картин',
  titleFixed: 'Оформление картин',
  img: 'hero-service-one.jpg',
  links: { prev: 'оформление зеркала', next: 'вышивка лентами' },
  breadcrumbs: {
    list: [
      { link: 'главная' },
      { link: '/' },
      { link: 'услуги' },
      { link: '/' },
      { link: 'оформление картин', modLink: 'is-active' }
    ]
  }
}
services: [
  { img: '01.jpg', title: 'Оформление зеркала' },
  { img: '04.jpg', title: 'Оформление вышивки' },
  { img: '03.jpg', title: 'Оформление плазменных ТВ' },
  { img: '05.jpg', title: 'галерейная натяжка холста на подрамник' },
  { img: '06.jpg', title: 'Оформление икон' },
  { mod: 'service-link--img-contain', img: '07.jpg', title: 'вышивка лентами' },
  { img: '08.jpg', title: 'нестандартные заказы
и дополнительные услуги' }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-seo.html" %}
  {% include "partials/sections/_s-gallery.html" %}
  {% include "partials/sections/_s-services-simple.html" %}
{% endblock %}
