<!-- begin hero-imgs -->
<div class="hero-imgs">
  <div class="hero-imgs__top">
    <div class="shadow-rect"></div>

    <div class="hero-imgs__link">
      <div class="title title--h5 title--ttu title--medium">
        <a href="#">Галерейная система подвески картин</a>
      </div>
    </div>
  </div>

  <div class="hero-imgs__imgs">

    <div class="hero-img js-img-parent">
      <div class="hero-img__img">
        <img class="js-lazy" alt="" data-src="./img/hero-imgs/01.jpg"/>
      </div>
    </div>

    <a href="#" class="hero-img js-img-parent">
      <span class="hero-img__img">
        <img class="js-lazy" alt="" data-src="./img/hero-imgs/02.jpg"/>
      </span>
      <span class="hero-img__title">
        стекло
      </span>
    </a>

    <div class="hero-img js-img-parent">
      <div class="hero-img__img">
        <img class="js-lazy" alt="" data-src="./img/hero-imgs/03.jpg"/>
      </div>
    </div>
  </div>
</div>
<!-- end hero-imgs -->