{%set
materials = [
  { img: 'Дерево.png', title: 'Деревянный багет' },
  { img: 'Пластик.png', title: 'пластиковый багет' },
  { img: 'Подрамник.png', title: 'подрамник' },
  { img: 'Метал.png', title: 'металический профиль' },
  { img: 'Дерево.png', title: 'Деревянный багет' },
  { img: 'Пластик.png', title: 'пластиковый багет' },
  { img: 'Подрамник.png', title: 'подрамник' },
  { img: 'Метал.png', title: 'металический профиль' }
]
%}

<!-- begin slider -->
<div class="slider__wrap slider--materials__wrap">
  <div class="slider__controls">
    <button class="slider__prev arrow arrow--prev js-slider-prev"></button>
    <button class="slider__next arrow arrow--next js-slider-next"></button>
  </div>
      
  <div class="swiper-container js-slider" data-slider="materials">
    <div class="slider slider--materilas swiper-wrapper">
      {% for i in materials %}
      <a href="#" class="swiper-slide material-link">
        <span class="material-link__img">
          <img class="js-lazy" alt="" data-src="./img/materials/{{ i.img }}"/>
        </span>

        <span class="material-link__title">{{ i.title | safe }}</span>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
<!-- end slider -->
