<div class="contacts__panorama">
  {# <!-- begin panorama --> #}
  {# <div class="panorama" data-path="./img/panorama/" data-format=".jpg"> #}
    {# <div class="panorama"> #}
      <div class="tabs-item js-tabs-item is-active" data-tab="kostelna">
        <iframe class="js-lazy js-wheel-custom-block js-panorama-iframe" data-src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2s!4v1460012701189!6m8!1m7!1sckcbx1QsOTwAAAQvOtQDeA!2m2!1d50.43584200778609!2d30.5086694603126!3f143.90993023395282!4f-8.043150317204805!5f0.7820865974627469" frameborder="0" allowfullscreen="" allow="vr"></iframe>
        <img class="js-lazy" alt="" data-src="./img/view.png"/>
      </div>
    
      <div class="tabs-item js-tabs-item" data-tab="basseina">
        <iframe class="js-lazy js-wheel-custom-block js-panorama-iframe" data-src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2s!4v1463565415517!6m8!1m7!1swHGjT_YN72kAAAQvO2QojA!2m2!1d50.4474619773084!2d30.51573205729164!3f102!4f0!5f0.7820865974627469" frameborder="0" allowfullscreen="" allow="vr"></iframe>
        <img class="js-lazy" alt="" data-src="./img/view.png"/>
      </div>
    {# </div> #}
    {# <!-- end panorama --> #}
</div>
