<!-- begin stext -->
<div class="stext scrollbar js-scrollbar">
  <h1>на что обратить внимание при выборе?</h1>

  {% for i in range(0, 5) %}
  <p>Очень часто, при виде огромного количества разнообразного багета, заказчик теряется
    и не знает, на каком из них остановить свой взгляд.
    Самая распространенная ошибка – подбирать багет к интерьеру, мебели и обоям, 
    а не к самой картине! Это неверно, так как при смене интерьера, Вам необходимо будет заново обрамить картину в новый багет. Но, конечно, не стоит забывать
  и про интерьер.</p>
  <p>При оформлении нужно учитывать цветовую гамму, тональность и направленность самой 
    картины. Лучше всего, если рамка будет немного темнее по тону, чем основной тон 
    картины. Для тёплой работы лучше всего подойдет багет с тёплой тональностью либо 
  золотой багет, а для холодной работы соответственно с холодной тональностью </p>

  
  {% endfor %}
</div>
<!-- end stext -->