<!-- begin popup -->
<div class="popup js-popup" data-popup="material">
  <div class="popup__inner">
    <button class="popup__close js-popup-close"></button>

    <div class="popup__gallery">
      <!-- begin popup-gallery -->
      <div class="popup-gallery">
        

        <div class="popup-gallery__inner">
          <div class="popup-gallery__left">
            <div class="popup-gallery__img-lg-wrap">
              <div class="popup-gallery__img-lg js-gallery-img-popup"></div>
            </div>

            <div class="popup-gallery__meta js-gallery-item-meta"></div>
          </div>

          <div class="popup-gallery__right">
            <div class="popup-gallery__title">
              <div class="title title--h3 title--medium title--ttu">Выполненные работы</div>
            </div>

            <div class="popup-gallery__img-sm-wrap js-gallery-img-sm-wrap"></div>
          </div>
        </div>
      </div>
      <!-- end popup-gallery -->
    </div>
    </div>
  </div>
</div>
<!-- end popup -->