<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="section__top section-top">
      <div class="section-top__title">
        <h1 class="title">Поздравляем с Днем Независимости Украины</h1>
      </div>

      <div class="section__breadcrumbs">
        {{ mixins.list(
          name = 'breadcrumbs',
          modifications = { wrap: '', item: '', link: '' },
          list = [
            { link: 'главная' },
            { item: '/' },
            { link: 'новости' },
            { item: '/' },
            { link: 'Поздравляем с Днем Независимости Украины', modLink: 'is-active' }
          ]
        ) }}
      </div>

      <div class="section__meta">
        <div class="meta">
          <div class="meta__item">{{ mixins.icon('clock') }} 24.08.2019</div>
          <div class="meta__item">{{ mixins.icon('view') }} 350</div>
        </div>
      </div>      
    </div>

    <!-- begin blog-page -->
      <div class="blog-page">
        <figure class="">
          <img class="js-lazy" alt="" data-src="./img/blog/img-lg.jpg"/>
        </figure>

        <article>
          <h2>День Независимости - великий праздник для всей Украины!</h2>

          <p>Мы с удовольствием оформим и профессионально подберём Вам оригинальный и идеальный вариант оформления, так как знаем, как важно правильно подобрать багет, чтобы Ваши картины радовали глаз не один день и даже не один год! Коллектив «ЦЕНРАЛЬНОЙ Багетной мастерской» обладает безупречным вкусом. Индивидуальность – вот основной принцип нашей работы! Для нас нет ничего, что бы мы не смогли оформить для Вас! Мы хотим, что бы каждая комната в Вашем доме была особенной, неповторимой и уникальной, чтобы каждое оформленная нами работа приносила только радость, тепло и уют! Посетив нашу Багетную мастерскую, Вы будете приятно удивлены ценами, профессионализмом нашего коллектива и сроками изготовления! Ждём Вас!</p>
          <p>Широкоформатная печать – это цифровая печать на рулонных материалах (фотобумага, холст, акварельная бумага). Предназначена для изготовления плакатов, растяжек и элементов более сложных конструкций. Печать производится на широкоформатных плоттерах различной ширины. Основным направлением нашей компании является Интерьерная Печать, которая предполагает, что на изображение люди смотрят с относительно небольшого расстояния, следовательно, изображение может быть относительно невелико, но обязательно должно быть предельно качественно</p>
          <p>Также отличительной особенностью интерьерной печати является отсутствие специфического запаха готовой продукции, что связано с особенностью технологии печати. Благодаря этим отличительным свойствам интерьерная печать идеально подходит для внутреннего оформления помещений и изготовления рекламных конструкций, которые планируется использовать в закрытом пространстве. Данный вид печати отличается не только живостью, но и яркостью, реалистичностью и динамикой картинки. Ее главные преимущества – фотографическое восприятие.</p>
        </article>

      </div>
      <!-- end blog-page -->

      <div class="section__more-articles">
        <div class="section__title">
          <h2 class="title title--ttu title--h3 title--medium">Читайте также:</h2>
        </div>

        {% include "partials/_more-articles.html" %}
      </div>
  </div>
</section>
<!-- end section -->