<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="section-img js-anim-el" data-anim-name="fadeInUp">
      <div class="section-img__img js-lazy" data-background-image="./img/about/equip.jpg"></div>

      <div class="section-img__block">
        <div class="section-img__title">
          <div class="title title--h3 title--ttu title--medium">Оборудование</div>
        </div>

        <p>Наша мастерская оснащена высокотехнологичным новым оборудованием, которое изготовлено ведущими мировыми компаниями:</p>

        <ul>
          <li>Гильотина для резки багета Morso F</li>
          <li>Линейки для резки паспорту, стекла, двп, пластика, картона Flеtcher</li>
          <li>Скобосшивающий станок Alfamachine</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end section -->