{%set
slider = [
  { img: '01.jpg' },
  { img: '02.jpg' },
  { img: '03.jpg' },
  { img: '04.jpg' },
  { img: '05.jpg' },
  { img: '06.jpg' },
  { img: '01.jpg' },
  { img: '02.jpg' },
  { img: '03.jpg' },
  { img: '04.jpg' },
  { img: '05.jpg' },
  { img: '06.jpg' }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    {% if sectionGallery.breadcrumbs and not sectionGallery.topSimple %}
    <div class="section__top section-top">
      {% if sectionGallery.title %}
      <div class="section__title section-top__title">
        <h1 class="title">{{ sectionGallery.title }}</h1>
      </div>
      {% endif %}

      <div class="section__breadcrumbs">
        {{ mixins.list(
          name = 'breadcrumbs',
          modifications = { wrap: sectionGallery.breadcrumbs.mod, item: '', link: '' },
          list = sectionGallery.breadcrumbs.list
        ) }}
      </div>
    </div>
  
    {% elseif sectionGallery.topSimple %}
      {% if sectionGallery.title %}
      <div class="section__top section-top">
        {% if sectionGallery.title %}
        <div class="section__title section-top__title">
          <h1 class="title">{{ sectionGallery.title }}</h1>
        </div>
        {% endif %}
        
        {% if sectionGallery.breadcrumbs %}
        <div class="section__breadcrumbs">
          {{ mixins.list(
            name = 'breadcrumbs',
            modifications = { wrap: sectionGallery.breadcrumbs.mod, item: '', link: '' },
            list = sectionGallery.breadcrumbs.list
          ) }}
        </div>
        {% endif %}
        </div>
      {% endif %}


      {% if sectionGallery.topSimple %}
        <div class="section__title">
          <div class="title title--h3 title--medium title--ttu">{{ sectionGallery.topSimple }}</div>
        </div>
        {% endif %}

        {% if sectionGallery.filter %}
        <div class="section__filter">
          {% include "partials/_filter-form.html" %}
        </div>
        {% endif %}
      {% else %}
      
      <div class="section__top">
        <div class="section__title">
          <div class="title title--h3 title--medium title--ttu">наша галерея</div>
        </div>

        <div class="section__top-link">
          <a href="#" class="link">посмотреть все работы</a>
        </div>
      </div>
      {% endif %}

      {% if sectionGallery.noSlider %}
      <!-- begin gallery -->
      <div class="gallery js-stagger">
        {% for i in sectionGallery.gallery.list or sectionGallery.gallery %}
          {% if sectionGallery.gallery.checkboxes %}
          <div class="gallery__item js-stagger-el">
            <button
              class="gallery-item js-popup-open"
              data-popup-target="material"
              data-img-lg-src="./img/{{ i.imgPopup }}"
              data-imgs-sm-src="./img/materials/popup-works-01/work-{number}.jpg"
              data-imgs-sm-number="6"
              >
              <img class="js-lazy" alt="" data-src="./img/gallery/{{ i.img }}"/>
            </button>

            {{ mixins.input(
              name = 'checkbox',
              mod = 'checkbox--gallery js-gallery-checkbox',
              type = 'checkbox',
              placeholder = '',
              value = '',
              fieldClass = '',
              label = { span: true, last: ' ' }
            ) }}
          </div>
          {% else %}
            <button
              class="gallery-item gallery__item js-stagger-el js-popup-open"
              data-popup-target="lightbox"
              data-img-lg-src="./img/gallery/{{ i.img }}"
              >
              <img class="js-lazy" alt="" data-src="./img/gallery/{{ i.img }}"/>
            </button>
          {% endif %}
          
        {% endfor %}
      </div>
      <!-- end gallery -->

      <div class="section__more">
        {% if sectionGallery.more %}
        {{ mixins.btn(
          title = mixins.icon('refresh') + sectionGallery.more.title,
          mod = 'btn--link',
          href = false
        ) }}
        {% else %}
        {{ mixins.btn(
          title = mixins.icon('refresh') + 'раскрыть все работы',
          mod = 'btn--link',
          href = false
        ) }}
        {% endif %}
      </div>

    {% else %}

    <!-- begin slider -->
    <div class="slider__wrap slider--gallery__wrap">
      <div class="swiper-container js-slider" data-slider="gallery">
        <div class="swiper-wrapper slider js-lightgallery js-stagger">
          {% for i in slider %}
{#           <a
            href="./img/gallery/{{ i.img }}"
            class="swiper-slide gallery-item js-stagger-el"
            data-exthumbimage="./img/gallery/{{ i.img }}"
            >
              <img class="js-lazy" alt="" data-src="./img/gallery/{{ i.img }}"/>
            </a> #}
            <button
              class="swiper-slide gallery-item js-stagger-el js-popup-open"
              data-popup-target="lightbox"
              data-img-lg-src="./img/gallery/{{ i.img }}"
              >
              <img class="js-lazy" alt="" data-src="./img/gallery/{{ i.img }}"/>
            </button>
          {% endfor %}
        </div>
      </div>

      <div class="slider__controls">
        <button class="slider__prev arrow arrow--prev js-slider-prev"></button>
        <button class="slider__next arrow arrow--next js-slider-next"></button>
      </div>
    </div>
    <!-- end slider -->
    {% endif %}
  </div>
</section>
<!-- end section -->