<!-- begin section -->
<section class="section">
  <div class="container">
    {% if sectionServices.title %}
    <div class="section__title">
      <div class="title title--medium title--h3 title--ttu">{{ sectionServices.title }}</div>
    </div>
    {% else %}
    <div class="section__title">
      <div class="title title--medium title--h3 title--ttu">Остальные услуги</div>
    </div>
    {% endif %}

    <!-- begin services-links -->
    <div class="services-links">
      {% for i in services %}
      <div class="services-links__item">
        <!-- begin service-link -->
        <a href="#" class="service-link{% if i.mod %} {{ i.mod }}{% endif %}">
          {# <span class="service-link__img js-lazy" data-background-image="./img/services/{{ i.img }}"> #}
          <span class="service-link__img">
            <img class="js-lazy" alt="" data-src="./img/services/{{ i.img }}"/>
            <span class="service-link__link link">подробнее</span>
          </span>

          <span class="service-link__title">
            <span class="title title--ttu title--medium title--h5">{{ i.title | safe }}</span>
          </span>
        </a>
        <!-- end service-link -->
      </div>
      {% endfor %}
    </div>
    <!-- end services-links -->
  </div>
</section>
<!-- end section -->