.hero
  $this: &
  padding-top: 20px
  // overflow: hidden
  position: relative
  z-index: 1
  height: 90vh
  +flex(flex-start, normal, column)
  .container
    width: 100%
  &__breadcrumbs
    // margin-bottom: 30px
    // +md
    //   margin-bottom: 15px
  &__img
    text-align: center
    position: relative
    display: inline-block
    width: 100%
    height: 100%
  &__inner
    position: relative
    
  &__img-in
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: contain
    padding-top: 35%
    +vcenter
    width: 100%
    +xl
      padding-top: 40%
    +lg
      padding-top: 50%    
    +md
      padding-top: 55%
    +sm
      padding-top: 70%
    +xs
      // padding-top: 85% !important
    +rmix(1399, 825)
      padding-top: 30% !important
    +rmix(1199, 825)
      padding-top: 40% !important
    +rmix(767, 825)
      padding-top: 60% !important
    +rmix(767, 600)
      padding-top: 50% !important
    +rmix(575, 800)
      padding-top: 80% !important
    +rmix(575, 600)
      padding-top: 70% !important

    &::before, &::after
      content: ''
      border-right: 1px solid  $gray-lighten
      bottom: 100%
      z-index: 0
      height: 50vh
      position: absolute
    &::before      
      left: 37vw
      +sm
        left: 30vw
      +rh(825)
        left: 40vw
    &::after
      right: 37vw
      +sm
        right: 30vw
      +rh(825)
        right: 40vw
  &__content
    +flex(center, center)
    position: relative
    flex-grow: 1
    max-height: calc(100% - 44px)
  &__title
  &__title-fixed-wrap
    position: absolute
    z-index: 0
    left: 0
    text-align: center
    top: 50%
    width: 100%
    transform: translate(0, -50%)
    overflow: hidden
  &__title-fixed
    +css-lock(24, 130, 320, 1399, font-size)
    font-weight: 600
    white-space: nowrap
    color: $gray-lighten

  &--common
    height: auto
    padding-top: 0
    #{$this}__left-content
      +flex(center, normal, column)
      height: 60vh
      width: 50%
      padding-top: 25px
      padding-bottom: 25px
      +sm
        width: 100%
        height: auto
    #{$this}__right
      position: absolute
      top: -$header-margin
      bottom: 0
      right: 0
      width: 50%
      overflow: hidden
      +md
        top: -$header-margin-md
      +sm
        position: relative
        // top: -$header-margin-xs
        top: auto
        bottom: auto
        right: auto
        width: 100%
        margin-bottom: 15px
    #{$this}__right-normal
      top: 0
      +md
        top: 0
    #{$this}__left
      // padding-right: 50%
      padding-top: 20px

    #{$this}__bottom
      +cover
      min-height: 235px
      padding-top: 15px
      padding-bottom: 15px
      +sm
        min-height: 150px


.hero-link
  position: absolute
  top: 0
  bottom: 0
  width: 100px
  font-weight: 500
  color: $black
  text-decoration: underline
  text-transform: uppercase
  z-index: 1
  +flex(center, center)
  +sm
    width: 80px
  +xs
    width: 60px
  a
    +rotate(-90)
    display: inline-block
    white-space: nowrap
    +tr(color .3s)
    +hover
      color: $accent
  &--prev
    left: 0
  &--next
    right: 0

.hero-imgs
  $this: &
  height: 100%
  +flex(flex-start, center, column)
  &__top
    width: 100%
    text-align: center
    position: relative
    z-index: 2
    margin-bottom: $header-margin
    .shadow-rect
      margin-bottom: 10px
    +md
      margin-bottom: $header-margin-md
    +xs
      margin-bottom: $header-margin-xs
  &__top-link
  &__imgs
    flex-grow: 1
    // white-space: nowrap
    width: 100%
    margin-right: -130px
    +flex(space-between, center)
    .slider__wrap
        width: 100%
    +sm
      margin-right: 0
  &--slider
    #{$this}__imgs
      margin-right: -250px
      +xl
        margin-right: -130px
      +lg
        // margin-right: -130px
      +sm
        margin-right: 0

.hero-img
  +flex(flex-end, center, column)
  text-align: center    
  +hover
    .hero-img__title
      color: $accent
  +notlast
    margin-right: 10px
  &::before, &::after
    content: ''
    border-right: 1px solid  $gray-lighten
    bottom: 100%
    z-index: 0
    height: 50vh
    position: absolute
  &::before      
    left: 10%
  &::after
    right: 10%
  &.is-loaded
    position: relative    
  &__img
    display: block
    margin-bottom: 5px
    box-shadow: 0 0 10px rgba($black, .2)
    font-size: 0
    // width: 100%
    img
      min-width: 100px
      min-height: 100px
      width: 100%
      position: absolute
      left: 0
      top: 0
      opacity: 0
      &.is-loaded
        opacity: 1
        position: static
  &__title
    @extend .title
    @extend .title--h5
    @extend .title--medium
    @extend .title--ttu
    +tr(color .3s)

  
  
  
