

.out-hor
  +flex
  height: 100vh
  height: calc(var(--vh, 1vh) * 100)

.header-hor
  // width: 100vw
  flex: 0 0 100vw
  +cover
  background-size: 100%

.footer-hor
  // width: 100vw
  flex: 0 0 100vw
  +cover

.main-hor
  flex: 0 0 1500px
  // flex-grow: 1
  +cover