.nav
  color: $black
  text-transform: uppercase
  li
    display: inline-block
    margin-bottom: 5px
    +sm
      display: block
  a
    +nav-link
  &--content
    li
      display: block
  &--vert
    text-align: center
    li
      display: block